body {
    background: url("../images/houndstooth-pattern.png") #ccc;
}

h1,
h2,
h5 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

header h1,
h4 {
    background: #4aaaa5;
}

h2,
h5 {
    color: #4aaaa5;
}

#profile-pic {
    max-width: 230px;
}

#sm-icons img {
    max-width: 60px;
    max-height: 60px;
}

.nav-item a {
    transition-duration: 111ms;
}

.nav-item a:hover {
    color: #4aaaa5 !important;
}

.position-absolute {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    #profile-pic {
        width: 100%;
    }
}